sudo: required
language: go
services:
    - docker
before_install:
  - BRANCH=$(git rev-parse --abbrev-ref HEAD)
  - if [ "$BRANCH" == "HEAD" ]; then
        echo "yep";
    fi
  - exit 1
  - mkdir -p _output/
  - sudo apt-get install -y git
install:
  - make get-deps
script: make test
after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - BRANCH=$(git rev-parse --abbrev-ref HEAD)
  - if [ "$BRANCH" == "master" ]; then
        docker push mirantis/k8s-externalipcontroller:latest;
    fi
  - if [ "${BRANCH:0:8}" == "release-" ]; then
        docker tag mirantis/k8s-externalipcontroller mirantis/k8s-externalipcontroller:$BRANCH;
        docker push mirantis/k8s-externalipcontroller:$BRANCH;
    fi
