# Default values for externalipcontroller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 2
image:
  repository: mirantis/k8s-externalipcontroller
  tag: latest
  pullPolicy: IfNotPresent
scheduler:
  name: claimscheduler
  network_mask: 24
controller:
  name: claimcontroller
  interface: docker0
